<!doctype html>
<html lang="en">
<head>
    <title>File Explorer</title>
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="bg"></div>
    <div class="topsideresize"></div>
    <div class="sidebar"></div>
    <div class="tabs"></div>
    <div class="actionbar">
        <i class="far fa-window-minimize minimize"></i>
        <i class="far fa-square maximize"></i>
        <i class="fas fa-times close"></i>
    </div>
    <div class="content"></div>
</body>
<script src="../js/jquery.slim.js"></script>
<script src="../js/jquery.js"></script>
<script src="../../src/setup/main.js"></script>
</html>
